@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');


* {margin: 0; padding: 0; box-sizing: border-box;}
body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: url("images/mjuBackground.png") no-repeat center;
    background-size: cover;
}
h4 {
    text-align: center;
}
.profile-area {margin-left: 200px;}
.profile-form {position: relative; z-index: 2;}
.profile-form input {
    width: 200px; height: 200px;
    margin-top: 10px;
    border-radius: 50%;
}
.MJMK{
    z-index: 0;
    position: absolute;
    margin-left: -650px;
    width: 10%;
}
.information {
    width: 250px; height: 50px;
    background-color: white;
    margin-top: 30px;
    margin-left: 100px;
}
.information_label {
    font-size: 10px; color: #fff;
    margin-left: 300px;
    float: left;
}
.posts {
    width: 550px; height: 100px;
    margin-top: 100px;
    margin-left: -200px;
    background-color: white;
}
.posts_label {

    font-size: 10px; color: white;
}